.icon {
  width: 24px;
  height: 24px;
  border: none;
}

.episode-heading {
  display: flex;
  align-items: center;
}

.episode-heading>*+* {
  margin-left: 0.25em;
}

.episode-action-menu {
  display: flex;
}

.episode-action-menu summary {
  list-style-type: none;
}

.work {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
}

.works-filter-condition-list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.episode-information-additional-area {
  display: flex;
  gap: 4px;
  align-items: center;
}

.episode-list {
  list-style: none;
}

.episode-list>li[aria-hidden="true"] {
  display: none;
}

body {
  width: 100vw;
}