.icon {
  width: 24px;
  height: 24px;
  border: none;
}

.episode-heading {
  display: flex;
  align-items: center;
}

.episode-heading>*+* {
  margin-left: 0.25em;
}

.work {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
}

.works-filter-condition-list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.episode-list {
  list-style: none;
}
