node_modules

/.cache
/build
/public/build
/prisma/dbml

.env
.devcontainer/*.pem

firebase-service-account.json

dump.sql
/logs
*.log
/test-results/
/playwright-report/
/playwright/.cache/
/example
*.tsbuildinfo
